@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  /* font-family: mediaSansw; */
}

::-webkit-scrollbar {
  width: 12px; /* For vertical scrollbars */
  height: 12px; /* For horizontal scrollbars */
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: none;
  border-radius: 10px;
}

/* Handle (the draggable thumb) */
::-webkit-scrollbar-thumb {
  background: rgba(84, 84, 212, 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5454d4;
}

/* @font-face {
  font-family: mediaSans;
  src: url("./assets/fonts/Hermaiona.otf");
}

@font-face {
  font-family: mediaSansw;
  src: url("./assets/fonts/Lady\ Angelina\ Script.otf");
} */
